@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Condensed&display=swap');

/*
font-family: 'Roboto Condensed', sans-serif;
 font-family: 'Quicksand', sans-serif;
*/
* {
    margin: 0px;
    padding: 0px;
    border-radius: 15px;

}

.fundo {
    position: absolute;
    width: 100%;
    height: 250%;
    background: rgb(253, 216, 110);
    background: linear-gradient(299deg, rgba(253, 216, 110, 1) 0%, rgba(109, 141, 252, 1) 50%, rgba(107, 242, 177, 1) 100%);
    border-radius: 0px;
}

/*=========================TEXTOS=========================*/
h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #333333;
    text-align: center;
    margin-left: 10px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    font-size: 25pt;

}

h3 {
    margin: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #333333;
}

h4 {
    margin: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #333333;
}

p {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    text-indent: 15px;
    color: #333333;
    font-size: 15pt;
}

/*=========================ESTRUTURA=========================*/
header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 5;
    border-radius: 0px;
}

footer {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    background-color: #fdd86e;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 40px;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;


}

section {
    position: absolute;
    width: 78%;
    height: 88%;
    top: 80px;
    left: 1%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

article {
    position: absolute;
    width: 98%;
    top: 2%;
    left: 1%;
}

aside {
    position: absolute;
    width: 19%;
    height: 15%;
    top: 80px;
    right: 1%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*=========================LINKS=========================*/
a {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #333333;
    text-decoration: none;
    text-align: center;
}

a:hover {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #333333;
    border-radius: 0px;
    text-decoration: none;
}
