@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Condensed&display=swap');

/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Quicksand', sans-serif;
*/
* {
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
}

.fundo {
    position: absolute;
    width: 100%;
    height: 215%;
    background: rgb(253, 216, 110);
    background: linear-gradient(299deg, rgba(253, 216, 110, 1) 0%, rgba(109, 141, 252, 1) 50%, rgba(107, 242, 177, 1) 100%);
    border-radius: 0px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #333333;
    text-align: center;
    margin-left: 10px;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    font-size: 25pt;

}

h3 {
    margin: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #333333;
}

p {
    font-family: 'Quicksand', sans-serif;
    text-align: justify;
    color: #333333;
    font-size: 15pt;
}

header {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 5;
    border-radius: 0px;
}

footer {
    width: 100%;
    display: flex;
    color: #444444;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: solid 1px #333333;
    border-radius: 0px;
}

.footerpage {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0px;
    margin: 0px;
    border: none;

}

main {
    background-color: #ffffff;
    position: absolute;
    width: 78%;
    top: 40px;
    left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

article {
    background-color: #ffffff;
    width: 98%;
    height: 98%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao1,
.secao2 {
    background-color: #ffffff;
    margin-bottom: 15px;
    width: 98%;
    margin-top: 1%;

}

.secao3 {
    background-color: #ffffff;
    width: 98%;
    margin-top: 1%;
    margin-bottom: 15px;
}

nav {
    background-color: #ffffff;
    width: 19%;
    height: 15%;
    position: absolute;
    right: 1%;
    top: 40px;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

aside {
    background-color: #ffffff;
    width: 19%;
    height: 20%;
    position: absolute;
    right: 1%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

audio {
    margin: 1%;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #333333;
    text-decoration: none;
    text-align: center;
    padding: 2%;
}

a:hover {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #ffffff;
    background-color: #333333;
    border-radius: 0px;
    text-decoration: none;
}

.insta:hover {
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.face:hover {
    background-color: #4267B2;
}

.tube:hover {
    background-color: red;
}
