.dahora {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(253, 216, 110);
    background: linear-gradient(145deg, rgba(253, 216, 110, 1) 5%, rgba(109, 141, 252, 1) 50%, rgba(107, 242, 177, 1) 100%);
}
